aiohttp
asgiref
asyncio
better-profanity
fastapi
Flask
pymongo
python-telegram-bot
spacy
uvicorn
faiss-cpu
sentence-transformers
google-generativeai
dnspython
better-profanity
langchain-community
langchain